@model ML.Pokemon
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> 
</head>
<div class="text-center text-info">
<h1>Pokemones</h1>
</div>
<div class="container">
    <section>
        
        <div>
            @using(Html.BeginForm("GetAll","Pokemon", FormMethod.Get, new {enctype = "multipart/form-data" }))
            {    
            <nav class="nav">
              <ul class="nav-list">
                  <li class="nav-item"><button class="btn btn-sm todos" name="tipo" value=" " id="Ver-Todos"> Ver Todos</button></li>
                  <li class="nav-item"><button class="btn btn-sm normal" name="tipo" value="normal" id="normal"> Normal </button></li>
                  <li class="nav-item"><button class="btn btn-sm fighting" name="tipo" value="fighting" id="fighting"> Fighting </button></li>
                  <li class="nav-item"><button class="btn btn-sm flying" name="tipo" value="flying" id="flying"> Flying </button></li>
                  <li class="nav-item"><button class="btn btn-sm poison" name="tipo" value="poison" id="poison"> poison </button></li>
                  <li class="nav-item"><button class="btn btn-sm ground" name="tipo" value="ground" id="ground"> ground </button></li>
                  <li class="nav-item"><button class="btn btn-sm rock" name="tipo" value="rock" id="rock"> rock </button></li>
                  <li class="nav-item"><button class="btn btn-sm bug" name="tipo" value="bug" id="bug"> bug </button></li>
                  <li class="nav-item"><button class="btn btn-sm ghost" name="tipo" value="ghost" id="ghost"> ghost </button></li>
                  <li class="nav-item"><button class="btn btn-sm steel" name="tipo" value="steel" id="steel"> steel </button></li>
                  <li class="nav-item"><button class="btn btn-sm fire" name="tipo" value="fire" id="fire"> Fire </button></li>
                  <li class="nav-item"><button class="btn btn-sm water" name="tipo" value="water" id="water"> water </button></li>
                  <li class="nav-item"><button class="btn btn-sm grass" name="tipo" value="grass" id="grass"> grass </button></li>
                  <li class="nav-item"><button class="btn btn-sm electric" name="tipo" value="electric" id="electric"> electric </button></li>
                  <li class="nav-item"><button class="btn btn-sm psychic" name="tipo" value="psychic" id="psychic"> psychic </button></li>
                  <li class="nav-item"><button class="btn btn-sm ice" name="tipo" value="ice" id="ice"> ice </button></li>
                  <li class="nav-item"><button class="btn btn-sm dragon" name="tipo" value="dragon" id="dragon"> dragon </button></li>
                  <li class="nav-item"><button class="btn btn-sm dark" name="tipo" value="dark" id="dark"> dark </button></li>
                  <li class="nav-item"><button class="btn btn-sm fairy" name="tipo" value="fairy" id="fairy"> fairy </button></li>       
              
              
              </ul>

          </nav>
          }
           @using (Html.BeginForm("GetAll", "Pokemon", FormMethod.Get, new { enctype = "multipart/form-data" }))
             {
          <input class="form-control" style="width: 300px;float:right; margin-right: 3%;" name="Nombre" placeholder="Nombre o ID" value="" autocomplete="off" />
             }
         </div>
           <br />
    </section>
    <hr />
    <section>
        @if (Model.Pokemons == null)
        {
            <div class="row">
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Message
                </div>
            </div>
        }
        else
        {
            <div class="row">
                
               @foreach (ML.Pokemon pokemon in Model.Pokemons)
               {
                   <div class="col-md-3">
                  <div class="card border-warning border-3" style="width: 18rem; margin-bottom: 2rem" onclick="VistaDetalle">
                     @if (pokemon.Sprites.front_default == null || pokemon.Sprites.front_default == " ")
                     {
                        <img  class="card-img-top"src="/images/PSI.png" alt="Card image cap"/>
                     }
                     else
                     {
                        <img class="card-img-top bg-opacity-75" id="Img" src="@pokemon.Sprites.front_default"alt="Card image cap" />
                     }
                    <div class="card-body">
                       <h5 class="card-title text-center">@pokemon.Name</h5>                                
                       <a href="@Url.Action("VistaDetalle", "Pokemon", new { Name = pokemon.Name})" onclick="AbrirModal()"  class="btn btn-primary">Detalle</a>
                    </div>
                  </div>
                  </div>
                  <a href="@Url.Action("GetAll", "Pokemon", new { Name = pokemon.next})" class="btn btn-primary"><i class="bi bi-arrow-left-circle-fill"></i></a>
                  <a href="@Url.Action("GetAll", "Pokemon", new { Name = pokemon.previous})" class="btn btn-primary "><i class="bi bi-arrow-left-circle-fill"></i></a>
               }
            </div>

        }
    </section>
</div>
